user_uuid = "73abc949-c183-4c61-bda6-a724952ec87d"
bucket_name = "beq7a7ypmy8q8u4jhnb6jrdro9mwaf17"
index_html_filepath = "/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath = "/workspace/terraform-beginner-bootcamp-2023/public/error.html"
